<% include ../partials/header %>

    <div class="ui middle aligned center aligned grid">
        <div class="column" style="max-width: 500px;">
            <h1 class="ui header">Ingresar</h1>
            <form class="ui form" action="/login" method="POST">
                <div class="field">
                    <label>Nombre de Usuario</label>
                    <input type="text" name="username" placeholder="Nombre de Usuario" required  autocomplete="off" spellcheck="false" autofocus>
                </div>
                <div class="field">
                    <label>Contraseña</label>
                    <input type="password" name="password" placeholder="Contraseña" required  autocomplete="off" spellcheck="false">
                </div>
                <button class="ui button" type="submit">Ingresar</button>
            </form>
            <p>Eres nuevo? <a href="/signup">Registrate</a></p>
        </div>
    </div>

<% include ../partials/footer %>