<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DS Estudio</title>
    <link rel="stylesheet" href="/css/semantic.min.css">
    <link rel="stylesheet" href="/css/app.css">
</head>
<body>
    <div class="ui top fixed inverted menu" id="nav">
        <a href="/" class="header item">DS Estudio</a>
        <a href="/posts" class="item">Posts</a>
        <a href="/materias" class="item">Materias</a>
        <a href="/noticias" class="item">Noticias</a>
        <a href="/alumnos" class="item">Alumnos</a>
        <div class="right menu">
            <a href="/login" class="item">Log In</a>
            <a href="/register" class="item">Sign Up</a>
        </div>
    </div>
    
