<% include ../partials/header %>

    <h1><Categories></h1>

    <div class="ui list">
        <% categories.forEach(category => { %>
            <a href="/category/<%= category.name %>" class="item"><%= category.fullname %></a>
        <% }) %>
    </div>

<% include ../partials/footer %>