<% include ../partials/header %>

    <div class="ui middle aligned center aligned grid">
        <div class="column" style="max-width: 500px;">
            <h1 class="ui header">Editar Perfil</h1>
            <form class="ui form" action="/user?_method=PUT" method="POST">
                <div class="field">
                    <label>Nombre de Usuario</label>
                    <input type="text" name="username" value="<%= user.username %>" required  autocomplete="off" spellcheck="false" autofocus>
                </div>
                <div class="field">
                    <label>Nombre Completo</label>
                    <input type="text" name="name" value="<%= user.name %>" required  autocomplete="off" spellcheck="false">
                </div>
                <div class="field">
                    <label>Email</label>
                    <input type="email" name="email" value="<%= user.email %>" required  autocomplete="off" spellcheck="false">
                </div>
                <div class="field">
                    <label>Teléfono</label>
                    <input type="number" name="phone" value="<%= user.phone %>" required  autocomplete="off" spellcheck="false">
                </div>
                <button class="ui button" type="submit">Editar</button>
            </form>
        </div>
    </div>

<% include ../partials/footer %>