<% include ../partials/header %>

    <div class="ui main text container segment">
        <div class="ui huge header">
            Posts
        </div>
        <div class="ui top attached segment">
            <div class="ui divided items">
                <div class="item">
                    <div class="ui tiny image">
                        <img src="https://i.pinimg.com/736x/04/6e/91/046e91f77483a277a434bac9ae4885e2--ui-framework-user-experience-design.jpg">
                    </div>
                    <div class="content">
                        <a class="header">Bruno Giovagnoli</a>
                        <div class="description">
                            <p>Les dejo la <a>solución</a> al ejercicio de la clase pasada de <a>Programación 1</a>. Cualquier cosa mandenme un mensaje.</p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="ui tiny image">
                        <img src="https://i.pinimg.com/originals/3a/c2/67/3ac267b2778ccaaf0425ef1b0c4aade6.png">
                    </div>
                    <div class="content">
                        <a class="header">Agustina Alvarez</a>
                        <div class="description">
                            <p>Alguien me podria pasar las preguntas del parcial de <a>Walter Ferreyra</a> ? Saludos.</p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="ui tiny image">
                        <img src="https://semantic-ui.com/images/avatar/large/elliot.jpg">
                    </div>
                    <div class="content">
                        <a class="header">Leandro Pereyra</a>
                        <div class="description">
                            <p>Hola gente, voy a retomar la carrera. Alguna recomendación o consejo para rendir <a>Logica y Estructura de Datos</a> ?</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

<% include ../partials/footer %>